html {
  box-sizing: border-box;
  
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  max-width: 100%;
}
body {
  
  
  font-family: 'Times New Roman', Times, serif;
  background: url("/img/1.png") no-repeat center center fixed;
  background-size: cover;
}

.container {
  
  min-width: 1170px;
  padding: 0 40px;
  margin-left: 80px;
}

  /* Свойства ссылок */
a {
  display: block;
  text-decoration:none;
  margin-bottom: 1.2em;
  position: relative;
}

  /* Что делать при наведении на ссылку */
a:hover {
  color:#0084ff;
}

  /* Этим свойством добавляем подчеркивание через создание псевдокласса */
a::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  transform: translateY(1.5em);
  border-bottom: 1px solid #dadada;
  width: 300px;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
  margin: 1.25em 0;
}

  /* Свойства фотографии*/
.photo {
  border-radius: 100px;
  /* Радиус скругления */
  border: 3px solid transparent;
  /* Параметры рамки */
  box-shadow: 0 4px 15px 0px rgba(0, 0, 0, 0.39);
  object-fit: cover;
}

  /* Эффект наведения на картинку */
.photo:hover {
  border: 3px solid #0051ff;
}

.main_title {
  font-size: 50px;
  font-style: italic;
  color: rgb(0, 110, 255);
  font-family: inherit;
}
.main_title:hover {
  -webkit-mask-image: linear-gradient(-75deg, rgba(0, 0, 0, .6) 30%, #000 50%, rgba(0, 0, 0, .6) 70%);
  -webkit-mask-size: 200%;
  animation: wave 2s infinite;
}

.heading {
  font-size: 30px;
  font-style: italic;
}

.slogan {
  font-size: 30px;
  font-style: italic;
  color: darkblue;
}

.item {
  margin-bottom: 15px;
  font-size: 20px;
  font-weight: 700;
}

.text {
  font-size: 25px;
  color: darkblue;
  font-weight: 700;
}

.text_1 {
  font-size: 25px;
  font-style: italic;
}

.link {
  font-size: 10px;
  font-style: italic;
  color: #0084ff;
}

.copy {
  font-size: 15px;
  font-style: italic;
  color: darkblue;
}